@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');

@import "tailwindcss";

/* Google Fonts Import */

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-zinc-900 text-zinc-50 h-[200vh] font-sans;
}

/* Menu Button */
.menu-btn {
  @apply size-12 grid place-items-center bg-zinc-50/10 rounded-full 
    ring-inset ring-1 ring-zinc-50/[0.05] backdrop-blur-xl 
    hover:bg-zinc-50/20 hover:scale-105 transition-all 
    active:scale-95 shadow-lg shadow-zinc-950/10 md:hidden;
}

/* Navbar Container */
.navbar {
  @apply absolute top-full right-0 min-w-40 p-3 mt-10
    bg-zinc-800/80 rounded-xl ring-inset ring-1 ring-zinc-50/10 
    scale-90 opacity-0 invisible shadow-xl 
    backdrop-blur-lg transition-all duration-300 ease-in-out 
    md:static md:flex flex-row md:items-center md:mt-0 
    md:opacity-100 md:visible md:scale-100 md:backdrop-blur-2xl;
}

/* Active Navbar */
.navbar.active {
  @apply scale-100 opacity-100 visible grid gap-2;
}

/* Navbar Links */
.nav-link {
  @apply grid items-center h-10 px-5 text-sm font-medium tracking-wide 
    text-zinc-200/60 hover:text-white transition-colors 
    relative z-20 rounded-lg duration-300;
}

/* Active State */
.nav-link.active {
  @apply text-black font-semibold;
}

/* Hover Effects */
.nav-link:hover {
  @apply bg-zinc-700/50 shadow-md shadow-zinc-950/20;
}

/* Active Indicator Box */
.navbar .active-box {
  @apply absolute h-10 bg-white/90 rounded-lg z-10
    shadow-md shadow-zinc-950/20 transition-all duration-300;
}

/* Button */
.btn {
  @apply max-w-max h-9 flex items-center gap-2 px-4 rounded-2xl 
    font-medium text-sm ring-1 ring-zinc-50/5 ring-inset 
    transition-[background-color] duration-300;
}

/* Secondary Button */
.btn-secondary {
  @apply bg-zinc-50 text-zinc-900 active:bg-zinc-50/80 max-sm:hidden;
}

/* Icon Styling */
.material-symbols-rounded {
  @apply w-6 h-6 overflow-hidden;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

/* Container */
.container {
  @apply px-4 mx-auto lg:px-8 xl:max-w-6xl;
}

/* Image Box */
.img-box {
  @apply bg-zinc-700 overflow-hidden;
}

/* Image Cover */
.img-cover {
  @apply w-full h-full object-cover;
}

/* Headline Styling */
.headline-1,
.headline-2 {
  @apply text-5xl leading-tight font-semibold lg:text-[55px] lg:leading-[1.15] max-w-max;
  background: linear-gradient(0deg, #fafafa, #a1a1aa);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.headline-2 {
  @apply text-3xl lg:text-4xl lg:leading-tight font-semibold;
}

/* Button Icon */
.btn .material-symbols-rounded {
  @apply text-[18px];
}

.btn:has(.material-symbols-rounded) {
  @apply pr-3;
}

/* Primary Button */
.btn-primary {
  @apply h-11 bg-sky-400 text-zinc-950 hover:bg-sky-300 active:bg-sky-400 sm:ml-5;
}

.btn-outline {
  @apply h-11 bg-zinc-800 hover:bg-zinc-700 active:bg-zinc-800 max-md:hidden;
}

/* Section */
.section {
  @apply pt-20 lg:pt-32;
}

/* Title */
.title-1 {
  @apply text-[22px] font-normal;
}

/* Label */
.label {
  @apply block text-zinc-200 text-sm font-normal mb-2;
}

/* Text Field */
.text-field {
  @apply block outline-none w-full px-3 py-3 text-sm bg-zinc-800 rounded-xl ring-1 
  ring-inset ring-transparent transition-shadow hover:ring-zinc-50/5 focus:ring-sky-400
  focus:ring-2;
}

.text-field::placeholder {
  @apply text-zinc-400;
}

/* Reveal Up Animation */
.reveal-up {
  @apply translate-y-20 opacity-0;
}

/* Cedarville Cursive Font */
.cedarville-cursive {
  font-family: "Cedarville Cursive", serif;
  font-weight: 400;
  font-style: normal;
}
